mcp==1.5.0
fastapi==0.115.12
uvicorn==0.34.2
loguru==0.7.3
pymilvus==2.5.7
python-dotenv==1.1.0
pydantic==2.11.3
sentence-transformers==4.1.0
numpy==2.2.5
httpx==0.28.1
torch==2.7.0
transformers==4.51.3
scikit-learn==1.6.1
